
.collapsible{
    background-color: blue;
    
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    margin: 10px;
    margin-bottom: 0px;
  }
  
  .content{
    padding-bottom: 8px;
    padding: 8px;
    /* padding-top: 0px; */
    border-radius: 5px;
    width: 242px;
    background-color: burlywood;
    color: darkorchid;
    margin-left: 20px;
    margin-top: 0px;
    display: none;
    overflow: hidden;
    font-size: 12px;
      /* max-height: 0; */
    /* transition: max-height 0.2s ease-out; */
  }
  
  .collapsible:hover {
      background-color: lightskyblue;
  }
  
  .active{
      background-color: purple !important;
  }
  
  
  .title{
      font-size: 32px;
      color: crimson;
  }