<html>
  <head>
    <title>JSON Test</title>

    
  </head>
  <body>

    <script type="module" src="varer.js"></script>



    
</body>
    <h1>Opret en vare</h1>
    <form id="form">
        <input placeholder="Varer" id="varer" />
        <input placeholder="pris" id="pris" />
        <input type="file" id="billede" name="img" accept="image/*">
        <input value="Submit" type="submit" id= "submit" />
           </form>
  
    <button id= "clickMe">Vis varer</button>
  <table id = "varerTable"></tableid>
      
    </form>
    
    <form id = "logout" action="http://localhost:8200/index.html">
      <input type="submit" value="Log ud eller slet profil"/>
  </form>

  <form id = "update" action="http://localhost:8200/opdater.html">
    <input type="submit" value="Opdater bruger"/>
</form>
  </body>
</html>